.dehead {
    border: 1px solid #de2620;
}

.depage1 {
    background-color: #ffffff;
    height: auto;
    padding-top: 90px;
}

.depage2 {
    background-color: #ffffff;
    height: auto;
}

.defooter {
    background-color: #e4e4e4;
    height: auto;
    padding-bottom: 10px;
}

#dehero{
    padding-top: 90px;
}

.hero-img {
    max-height: 450px;
    width: auto;
    object-fit: contain;
}

.hero-section{
    padding-top: 50px;
}

.edu-logo {
    max-height: 120px;
    width: auto;
    object-fit: contain;
}

.ing-kompo {
    max-height: 150px;
    width: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    #dename {
        padding-bottom: 0px;
    }
    
    .hero-img {
        max-height: 300px;
    }
}